.Kanban {
  font-family: sans-serif;
  box-sizing: border-box;
}

.dropzone {
  padding: 5px;
  margin: 5px;
  border: 1px dotted darkgoldenrod;
  background: lightblue;
  width: 160px;
  height: 200px;
  display: inline-block;
  overflow: auto;
}

@media only screen and (max-width: 600px) {
  .dropzone {
    width: 130px;
  }
}

.dropzone h1 {
  margin: 0;
}

.dropzone h3 {
  color: black;
  background: white;
  border: 1px solid gray;
  padding: 5px;
  text-align: center;
  font-weight: lighter;
}

.card {
  padding: 0.5em;
  margin: 0.25em;
  border: 1px solid black;
  border-radius: 5px;
  background: rgb(255, 255, 255);
  transition: transform 0.5s;
  color: #000;
}

.card:hover {
  transform: rotate(3deg);
}