/*@import "https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css";*/
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Nunito, sans-serif;
  background: #f5f6f7;
}

main {
  max-width: 50rem;
  margin: auto;
  padding: 2rem 1rem;
}

main > h1 {
  text-align: center;
}

.Add-project {
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.Add-project input {
  display: block;
  margin: 1rem auto;
  width: 20rem;
  padding: 0.5rem;
  border: 1px solid #00b8e6;
  border-radius: 10px;
  outline: none;
}

.Add-project select {
  border: 1px solid black;
  display: block;
  margin: 1rem auto;
  width: 21rem;
  padding: 0.5rem;
  border: 1px solid #00b8e6;
  border-radius: 10px;
  outline: none;
  margin-top: 0px;
}

.Add-project button {
  width: 21rem;
  padding: 0.7rem;
  border: 1px solid #00b8e6;
  background: #00b8e6;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
}

.Add-project button:hover {
  background: #0093b8;
}

.Add-project button:disabled {
  background: #d8d8d8;
  border: 1px solid #d8d8d8;
  cursor: not-allowed;
}

.Project {
  display: flex;
  /*justify-content: space-between;*/
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

.Project:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.Project h1 {
  color: #222;
  /*text-transform: capitalize;*/
  font-weight: 700;
  font-size: 1.7rem;
}

.Project p {
  padding-right: 1rem;
  color: #444;
}
.Project button {
  padding: 0.5rem 0.7rem;
  border: 1px solid rgb(42, 72, 206);
  background: #769ec7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  min-width: 80px;
}

.Project button:hover {
  background: #6ab1e0;
}

.ProjectDetails button {
  padding: 0.5rem 0.7rem;
  border: 1px solid rgb(42, 72, 206);
  background: #769ec7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  min-width: 80px;
}

.ProjectDetails button:hover {
  background: #6ab1e0;
}

.ProjectDetails {
  /*justify-content: space-between;*/
  align-items: center;
  padding: 1rem;
  background: #fff;
  border-radius: 10px;
}

.ProjectDetails:not(:last-child) {
  border-bottom: 2px solid #f5f6f7;
}

.ProjectDetails h1 {
  color: #222;
  /*text-transform: capitalize;*/
  font-weight: 700;
  font-size: 1.7rem;
}

.ProjectDetails p {
  padding-right: 1rem;
  color: #444;
}

.mymodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 0px;
  min-width: 400px;
  min-height: 200px;
}

.mymodal button {
  padding: 0.5rem 0.7rem;
  border: 1px solid rgb(42, 72, 206);
  background: #769ec7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
  min-width: 80px;
}

.mymodal button:hover {
  background: #6ab1e0;
}

.myoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.15);
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

table {
  font-family: "Raleway", sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

/*tr:nth-child(even) {
  background-color: #7bcce0;
}*/

h1 {
  color: black;
}

h3 {
  color: white;
}